<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atropos Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>AUXO</h1>
            <p>안녕 나의 은빛의 기사님</p>
        </div>
        <div id="chatbox"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="무엇을 도와드릴까요?">
            <button onclick="sendMessage()">Send</button>
            <label class="upload-label">
                <input type="file" id="file-upload" accept=".pdf,.txt,.docx">
                <button class="upload" type="button" onclick="triggerFileUpload()">Upload</button>
            </label>
        </div>
    </div>

    <script>
        function sendMessage() {
            const userInput = document.getElementById('user-input');
            const message = userInput.value;
            if (message.trim() === '') return;

            appendMessage('human', message);
            userInput.value = '';

            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message })
            })
            .then(response => response.json())
            .then(data => {
                appendMessage('ai', data.message);
            });
        }

        function appendMessage(role, message) {
            const chatbox = document.getElementById('chatbox');
            const messageElement = document.createElement('div');
            messageElement.classList.add('message', role);
            messageElement.textContent = message;
            chatbox.appendChild(messageElement);
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        function triggerFileUpload() {
            document.getElementById('file-upload').click();
        }

        document.getElementById('file-upload').addEventListener('change', function() {
            const fileInput = document.getElementById('file-upload');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                } else {
                    alert('파일 업로드에 실패했습니다.');
                }
            });
        });
    </script>
</body>
</html>
