@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ec3a57; /* 배경 색상 변경 */
}

.container {
    margin: 0;
    padding: 0;
    width: 100%; /* 너비를 100%로 설정 */
    height: 100%; /* 높이를 100%로 설정 */
    background-color: #ec3a57; /* 컨테이너 배경 색상 변경 */
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative; /* 부모 컨테이너에 상대 위치 지정 */
}

.header {
    text-align: center;
    padding: 0px;
    background-color: #ec3a57; /* 헤더 배경 색상 변경 */
    position: relative;
    margin-top: 10%;
    z-index: 1; /* 헤더가 위로 오도록 설정 */
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
}

.header p {
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#chat-container {
    position: absolute;
    top: calc(10% + 150px); /* 타이틀 아래에서 시작 */
    bottom: calc(10% + 60px); /* 메시지 입력 창 위에서 끝 */
    left: 50%;
    width: 80%; /* 너비를 80%로 설정 */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 0; /* 컨테이너가 헤더 뒤로 가도록 설정 */
}

#chatbox {
    flex: 1;
    overflow-y: auto;
    background: #ec3a57; /* 채팅박스 배경 색상 변경 */
    color: #333; /* 글자 색상 변경 */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* 너비를 100%로 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.message-container {
    width: calc(100% - 40px); /* 좌우 패딩을 고려한 너비 조정 */
    margin: 10px 0;
    padding: 0 20px; /* 좌우 패딩 */
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%; /* 메시지 최대 너비 설정 */
    word-wrap: break-word; /* 단어가 길 경우 줄바꿈 처리 */
    text-align: left; /* 메시지 좌측 정렬 */
    background-color: #ec3a57; /* 메시지 배경 색상 */
}

.message.ai {
    color: #333; /* AI 메시지 글자 색상 */
}

.message.human {
    color: #fff; /* 사용자의 메시지 글자 색상 */
}

#input-container {
    display: flex;
    align-items: center;
    background: #ec3a57; /* 입력 컨테이너 배경 색상 변경 */
    width: 80%; /* 너비를 80%로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    position: absolute;
    bottom: 10px; /* 하단에서 약간의 여백 추가 */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    z-index: 1; /* 입력 컨테이너가 위로 오도록 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

#input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #fff;
    color: #333;
    position: relative; /* 상대 위치 지정 */
    padding-right: 50px; /* 오른쪽 패딩 추가 */
}

#input-container button.send {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/static/send.png') no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#input-container input[type="file"] {
    display: none;
}

#input-container button.upload {
    background: url('/static/upload.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}

.upload-label {
    display: flex;
    align-items: center;
}

.upload-label input[type="file"] {
    display: none;
}

.upload-label img {
    cursor: pointer;
}
